* {
  font-family: 'FBADRENALIN-REGULAR';
  direction: ltr;
  unicode-bidi: bidi-override;
}

body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    background-color: #fcfcfc;

    h1, h2, h3, h4, h5, h6 {
        margin: 0;
        font-weight: normal;
        font-style: normal;
        text-align: right;
        line-height: 1;
    }

    h2 {
        font-family: 'FBADRENALIN-BOLD';
        font-size: 48px;
        line-height: 60px;
        color:  #323484;
    }

    h3 {
      font-size: 30px;
      line-height: 45px;
      color:  #323484;
    }

    h3 {
        font-size: 20px;
        font-weight: 700;
        line-height: 34px;
        color: #333333;
    }

    h4 {
        font-size: 24px;
        font-weight: 400;
        text-align: left;
        color: #333333;
    }

    h5 {}

    h6 {
        font-size: 16px;
        font-weight: 900;
        text-align: center;
        color: #5dbdfe;
    }

    p {
        font-size: 18px;
        text-align: right;
        line-height: 32px;
        color: #1c1820;
        span {
          font-family: 'EXO2.0-SEMIBOLD_0';
          i {
            text-transform: uppercase;
            font-family: 'EXO2.0-SEMIBOLD_0';
            font-size: 26px;
            font-style: normal;
            color: #323484;
          }
        }
        i {
          font-family: 'EXO2.0-REGULAR_0';
          font-style: normal;
          color: #161616;
        }
    }

    img {
        max-width: 100%;
        display: inline-block;
    }

    a {
        display: inline-block;
        font-family: 'FBADRENALIN-REGULAR';
        font-weight: normal;
        font-style: normal;
        text-decoration: none;
        outline: none !important;

        &::-moz-focus-inner {
            border: 0 !important;
        }

        &:hover, &:focus {
            text-decoration: none;
            color: #000000;
        }
    }

    ul {
      list-style: none;
    }

    .clear {
        clear: both;
    }

    @include breakpoint(mobile) {
        h1 {
            font-size: 36px;
        }
        h2 {
            font-size: 36px;
        }
        h3 {
            font-size: 14px;
        }
        h4 {
            font-size: 18px;
        }
        h6 {
            font-size: 12px;
        }
        p {
            font-size: 14px;
        }
    }
}