.banner {
  .wrapper {
    position: relative;
    &:after {
      position: absolute;
      bottom: 65px;
      right: 200px;
      content: 'דבלב השחמהל הנומתה*';
      font-size: 24px;
      direction: ltr;
      unicode-bidi: bidi-override;
      color:  #201d20;
    }
  }
}