.header {
  height: 67px;
  margin: 10px 0;
  .geffen-logo {
    padding-left: 50px;
    text-align: left;
  }
  .dmc-logo {
    text-align: center;
  }
  .abbott-logo {
    padding-right: 50px;
    text-align: right;
  }
}